*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    color: #000;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
header{
    width: 100vw;
    height: 13vh;
    background: #FFF;
}
header ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    list-style-type: none;
    padding: 46px 0;
}
header ul img{
    width: 106px;
    height: 39px;
}
header ul a{
    text-decoration: none;
    color: #000;
}
main{
    width: 100vw;
    background: #FBF6F3;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:  0 42px;
    padding: 67px 315px 172px 165px;
}
.left img{
    width: 581px;
    height: 653px;
}
.right{
    width: 350px;
}
.right h2{
    font-size: 48px;
    margin-bottom: 37px;
}
.price{
    color: #AD0306;
    font-size: 36px;
}
.size{
    margin-top: 37px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0 27px;
    font-size: 13px;
}
.NotFaund{
    color: #A19FA0;
}
.use{
    color: #A90102;
}
.right p{
    margin-top:48px;

}